.App {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 2rem;
  background-color: #dbb2e6;
}
#info{
  font-size: 11px;
  transform-origin: center;
  transition: transform 1s;
  box-shadow: 0px 3px 7px black;
}
#info:hover{
  transform: scale(7.9);
}
#titulo-tienda{
  position: relative;
  font-size: 1cm;
  top: 1cm;
  transition: top 2s;
}
#titulo-tienda:hover{
  top: 19cm;
}

header {
  background-color: #987ec6;
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
}

main {
  margin-top: 2rem;
}

.productos {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.producto {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 3px 7px rgba(0,0,0,1);
  transition: transform 0.2s ease;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  width: 100%;
  border-radius: 4px;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #987ec6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  margin-top: 3rem;
  font-size: 0.8rem;
  color: #555;
}
.saludo{
  background: #987ec6;
  box-shadow: 0px 1px 2px black;
  transform-origin: center;
  transition: transform 1s;
}
.saludo:hover{
  transform: scale(1.1);

}